@charset "utf-8";


@font-face {
  font-family: 'Custom_1';
  src: url(../font/GrandSlangRoman.ttf);
}

@font-face {
  font-family: 'Custom_2';
  src: url(../font/Montserrat-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  object-fit: cover;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
video {
  object-fit: cover;
}

nav {
  h1 {
    color: #2D336B;
    font-family: Custom_1;
    font-weight: 600;
  }

  .nav-link {
    color: #2D336B;
    font-family: Custom_2;
    font-weight: 400;
  }
}

main {
  .hero {
    background-color: #FFF2F2;
    padding-bottom: 70px;

    .carousel-indicators {

      button {
        background-color: #7886C7;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transform: translateY(70px);
      }
    }
  }

  .Categories {
    background-color: #A9B5DF;

    h2 {
      color: #2D336B;
      font-family: Custom_1;
      font-weight: 600;
    }

    #Categoriesbox {
      height: 55px;
      width: 55px;
      border-radius: 50%;
    }

    p {
      font-size: 10px;
      padding-top: 5px;
      color: #2D336B;
      font-family: Custom_2;
      font-weight: 100;
    }
  }

  .arrival {
    background-color: #FFF2F2;

    h2 {
      color: #2D336B;
      font-family: Custom_1;
      font-weight: 600;
    }

    .scroll::-webkit-scrollbar {
      display: none;
    }

    button {
      color: #2D336B;
      font-family: Custom_2;
      font-weight: 100;
    }

    .scroll {
      img {
        border-radius: 10px;
      }

      img:hover {
        box-shadow: 3px 3px 15px rgb(124, 123, 123);
        border-radius: 10px;
      }
    }
  }

  .collection {
    background-color: #A9B5DF;

    h2 {
      color: #2D336B;
      font-family: Custom_1;
      font-weight: 600;
    }

    p {
      color: #2d336b9a;
      font-family: Custom_2;
      font-weight: 100;
    }

  }

  .promise {
    background-color: #FFF2F2;

    h2,
    h5 {
      color: #2D336B;
      font-family: Custom_1;
      font-weight: 600;
    }

    p,
    h4 {
      color: #2d336ba8;
      font-family: Custom_2;
      font-weight: 100;
    }

    figure {
      border-radius: 10px;
      height: 250px;

      border: 1px solid rgba(218, 165, 32, 0.491);

      h5 {
        font-size: 15px;
      }

      p {
        font-size: 10px;
      }

      img {
        width: 50%;
      }
    }
  }

  .shop_by_gender {
    background-color: #A9B5DF;

    img {
      border-radius: 10px;
    }

    button {
      font-size: 10px;
      padding: 5px 7px;
      color: #2d336ba8;
      font-family: Custom_2;
    }

    h2 {
      color: #2D336B;
      font-family: Custom_1;
      font-weight: 600;
    }
  }

  .gift {
    background-color: #FFF2F2;

    h2 {
      color: #2D336B;
      font-family: Custom_1;
      font-weight: 600;
    }

    p {
      color: #2d336ba8;
      font-family: Custom_2;
      font-weight: 100;
      padding-bottom: 15px;
    }

  }
}

footer {
  background-color: #FFF2F2;

  h5,
  p,
  button {
    color: #2D336B;
    font-family: Custom_1;
    font-weight: 600;
  }

  a {
    color: #2d336ba8;
    font-family: Custom_2;
    font-weight: 100;
  }

}

/* Tablet view */
@media (min-width: 768px) {
  main {
    .hero {
      .carousel-indicators {

        button {
          width: 13px;
          height: 13px;
        }
      }
    }

    .Categories {

      #Categoriesbox {
        height: 75px;
        width: 75px;
      }

      p {
        font-size: 20px;
      }
    }

    .shop_by_gender {

      button {
        font-size: 15px;
        padding: 10px 20px;
      }
    }
  }
}

/* laptop view */
@media (min-width: 992px) {
  main {
    .hero {
      .carousel-indicators {

        button {
          width: 15px;
          height: 15px;
        }
      }
    }

    .Categories {

      #Categoriesbox {
        margin: 10px;
        height: 95px;
        width: 95px;
      }

      p {
        font-size: 30px;
        padding-top: 10px;
      }
    }

    .middle {
      transform: translateY(50px);
    }

    .promise {
      h4 {
        font-size: 12px;
      }

      figure {
        h5 {
          font-size: 17px;
        }

        p {
          font-size: 12px;
        }

        img {
          width: 35%;
        }
      }
    }

    .shop_by_gender {

      button {
        font-size: 20px;
        padding: 10px 20px;
      }
    }
  }
}

/* large device view */
@media (min-width: 1200px) {
  main {
    .hero {
      .carousel-indicators {

        button {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}